header, nav, main, footer {
        max-width: 1140px;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

.gallery {
        flex-basis: 25%;

}

/*----------- FOOTER --------------*/
    
