header, nav, main, footer {
        max-width: 2000px;
        margin:auto;
}

/*----------- BODY --------------*/
.gallery {
        padding-right: 50px;
}


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
