


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav {
    ul {
        display: flex;
        justify-content: right;
        padding-right: 15px;
    } //
    ul li a {
        border: none;
        padding: 20px;
    }
    ul li.active a {
        background-color: none;
    }
    
} //end of nav


/*----------- MAIN --------------*/

.gallery {
    flex-basis: 50%;
}

/*----------- FOOTER --------------*/
    
